<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.woozi.com.woozi.repository.BoardRepository">

	<select id="getList" parameterType="com.woozi.com.woozi.domain.Board" resultType="com.woozi.com.woozi.domain.Board">
		SELECT
			B.BOARD_SEQ,
			B.TITLE
			B.CONTENT,
			B.REG_DATE,
			B.IS_DELETED
		FROM T_BOARD B
		ORDER BY B.REG_DATE DESC
	</select>

	<select id="getBoardDetail" parameterType="java.lang.Long" resultType="com.woozi.com.woozi.domain.Board">
		SELECT
			B.BOARDSEQ,
			B.TITLE
			B.CONTENT,
			B.REG_DATE,
			B.IS_DELETED
		FROM T_BOARD B
		WHERE BOARD_SEQ = #{boardSeq}
		ORDER BY B.REG_DATE DESC
	</select>
	
	<insert id="saveBoard" parameterType="com.woozi.com.woozi.domain.Board">
	INSERT INTO T_BOARD
	(
	TITLE,
	CONTENT,
	REG_DATE	
	)
	VALUES
	(
	#{title},
	#{content},
	NOW()
	)
	</insert>
	
	<update id="updateBoard" parameterType="com.woozi.com.woozi.domain.Board">
	UPDATE T_BOARD
	SET
	(
	TITLE = #{title},
	CONTENT = #{content}
	WHERE BOARD_SEQ = #{boardSeq}
	</update>
	
	<delete id="deleteBoard" parameterType="java.lang.Long">
	DELETE FROM T_BOARD
	WHERE BAORD_SEQ = #{boardSeq}
	</delete>

</mapper>